#
# Apache Settings 
Options FollowSymlinks
# Protect files and directories from prying eyes.
<Files ~ "(\.(inc|ini|module|pl|sh|sql|theme|engine|xtmpl|proc|func|tests|str|conf)|Entries|Repositories|Root|scripts|updates)$">
  Order deny,allow
  Deny from all
</Files>

# Customized error messages.
ErrorDocument 404 index.php


# Set the default handler.
DirectoryIndex index.php


# the following cannot be changed at runtime. The first IfModule is
# for Apache 1.3, the second for Apache 2.
<IfModule sapi_apache2.c>
  php_value magic_quotes_gpc                0
  php_value register_globals                0
  php_value session.auto_start              0
</IfModule>


# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
 
# CSS & JS versioned
  RewriteRule ^(.*\.)v[0-9.]+\.(css|js)$    /$1$2    [L]


  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^(.*)$ index.php?$1 [L,QSA]

</IfModule>